__pycache__
.DS_Store
* (Autosaved).glyphs
/.astro
/dist
/mongfontbuilder/.pytest_cache
/mongfontbuilder/.ruff_cache
/mongfontbuilder/.venv
/mongfontbuilder/dist
/mongfontbuilder/temp
/node_modules
/temp
Thumbs.db
