<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>_A.fina</key>
    <string>_A_.fina.glif</string>
    <key>_A.init</key>
    <string>_A_.init.glif</string>
    <key>_A.isol</key>
    <string>_A_.isol.glif</string>
    <key>_A.medi</key>
    <string>_A_.medi.glif</string>
    <key>_AGL.medi</key>
    <string>_A_G_L_.medi.glif</string>
    <key>_AGM.medi</key>
    <string>_A_G_M_.medi.glif</string>
    <key>_Aa.fina</key>
    <string>_A_a.fina.glif</string>
    <key>_Aa.isol</key>
    <string>_A_a.isol.glif</string>
    <key>_B.fina</key>
    <string>_B_.fina.glif</string>
    <key>_B.init</key>
    <string>_B_.init.glif</string>
    <key>_B.medi</key>
    <string>_B_.medi.glif</string>
    <key>_B2.fina</key>
    <string>_B_2.fina.glif</string>
    <key>_BA.init</key>
    <string>_B_A_.init.glif</string>
    <key>_BA.medi</key>
    <string>_B_A_.medi.glif</string>
    <key>_BAa.fina</key>
    <string>_B_A_a.fina.glif</string>
    <key>_BAa.isol</key>
    <string>_B_A_a.isol.glif</string>
    <key>_BI.fina</key>
    <string>_B_I_.fina.glif</string>
    <key>_BI.init</key>
    <string>_B_I_.init.glif</string>
    <key>_BI.isol</key>
    <string>_B_I_.isol.glif</string>
    <key>_BI.medi</key>
    <string>_B_I_.medi.glif</string>
    <key>_BL.init</key>
    <string>_B_L_.init.glif</string>
    <key>_BL.medi</key>
    <string>_B_L_.medi.glif</string>
    <key>_BM.init</key>
    <string>_B_M_.init.glif</string>
    <key>_BM.medi</key>
    <string>_B_M_.medi.glif</string>
    <key>_BO.fina</key>
    <string>_B_O_.fina.glif</string>
    <key>_BO.init</key>
    <string>_B_O_.init.glif</string>
    <key>_BO.isol</key>
    <string>_B_O_.isol.glif</string>
    <key>_BO.medi</key>
    <string>_B_O_.medi.glif</string>
    <key>_BOI.init</key>
    <string>_B_O_I_.init.glif</string>
    <key>_BOI.medi</key>
    <string>_B_O_I_.medi.glif</string>
    <key>_BUe.fina</key>
    <string>_B_U_e.fina.glif</string>
    <key>_BUe.isol</key>
    <string>_B_U_e.isol.glif</string>
    <key>_BW.fina</key>
    <string>_B_W_.fina.glif</string>
    <key>_BW.init</key>
    <string>_B_W_.init.glif</string>
    <key>_BW.isol</key>
    <string>_B_W_.isol.glif</string>
    <key>_BW.medi</key>
    <string>_B_W_.medi.glif</string>
    <key>_C.fina</key>
    <string>_C_.fina.glif</string>
    <key>_C.init</key>
    <string>_C_.init.glif</string>
    <key>_C.medi</key>
    <string>_C_.medi.glif</string>
    <key>_Ch.fina</key>
    <string>_C_h.fina.glif</string>
    <key>_Ch.init</key>
    <string>_C_h.init.glif</string>
    <key>_Ch.medi</key>
    <string>_C_h.medi.glif</string>
    <key>_Cr.init</key>
    <string>_C_r.init.glif</string>
    <key>_D.fina</key>
    <string>_D_.fina.glif</string>
    <key>_D.init</key>
    <string>_D_.init.glif</string>
    <key>_D.medi</key>
    <string>_D_.medi.glif</string>
    <key>_Dd.fina</key>
    <string>_D_d.fina.glif</string>
    <key>_Dd.medi</key>
    <string>_D_d.medi.glif</string>
    <key>_F.fina</key>
    <string>_F_.fina.glif</string>
    <key>_F.init</key>
    <string>_F_.init.glif</string>
    <key>_F.medi</key>
    <string>_F_.medi.glif</string>
    <key>_FA.init</key>
    <string>_F_A_.init.glif</string>
    <key>_FA.medi</key>
    <string>_F_A_.medi.glif</string>
    <key>_FAa.fina</key>
    <string>_F_A_a.fina.glif</string>
    <key>_FAa.isol</key>
    <string>_F_A_a.isol.glif</string>
    <key>_FI.fina</key>
    <string>_F_I_.fina.glif</string>
    <key>_FI.init</key>
    <string>_F_I_.init.glif</string>
    <key>_FI.isol</key>
    <string>_F_I_.isol.glif</string>
    <key>_FI.medi</key>
    <string>_F_I_.medi.glif</string>
    <key>_FO.fina</key>
    <string>_F_O_.fina.glif</string>
    <key>_FO.init</key>
    <string>_F_O_.init.glif</string>
    <key>_FO.isol</key>
    <string>_F_O_.isol.glif</string>
    <key>_FO.medi</key>
    <string>_F_O_.medi.glif</string>
    <key>_FOI.init</key>
    <string>_F_O_I_.init.glif</string>
    <key>_FOI.medi</key>
    <string>_F_O_I_.medi.glif</string>
    <key>_FUe.fina</key>
    <string>_F_U_e.fina.glif</string>
    <key>_FUe.isol</key>
    <string>_F_U_e.isol.glif</string>
    <key>_FW.fina</key>
    <string>_F_W_.fina.glif</string>
    <key>_FW.init</key>
    <string>_F_W_.init.glif</string>
    <key>_FW.isol</key>
    <string>_F_W_.isol.glif</string>
    <key>_FW.medi</key>
    <string>_F_W_.medi.glif</string>
    <key>_G.fina</key>
    <string>_G_.fina.glif</string>
    <key>_G.init</key>
    <string>_G_.init.glif</string>
    <key>_G.medi</key>
    <string>_G_.medi.glif</string>
    <key>_GA.init</key>
    <string>_G_A_.init.glif</string>
    <key>_GA.medi</key>
    <string>_G_A_.medi.glif</string>
    <key>_GAa.fina</key>
    <string>_G_A_a.fina.glif</string>
    <key>_GAa.isol</key>
    <string>_G_A_a.isol.glif</string>
    <key>_GI.fina</key>
    <string>_G_I_.fina.glif</string>
    <key>_GI.init</key>
    <string>_G_I_.init.glif</string>
    <key>_GI.isol</key>
    <string>_G_I_.isol.glif</string>
    <key>_GI.medi</key>
    <string>_G_I_.medi.glif</string>
    <key>_GL.init</key>
    <string>_G_L_.init.glif</string>
    <key>_GL.medi</key>
    <string>_G_L_.medi.glif</string>
    <key>_GM.init</key>
    <string>_G_M_.init.glif</string>
    <key>_GM.medi</key>
    <string>_G_M_.medi.glif</string>
    <key>_GO.fina</key>
    <string>_G_O_.fina.glif</string>
    <key>_GO.init</key>
    <string>_G_O_.init.glif</string>
    <key>_GO.isol</key>
    <string>_G_O_.isol.glif</string>
    <key>_GO.medi</key>
    <string>_G_O_.medi.glif</string>
    <key>_GOI.init</key>
    <string>_G_O_I_.init.glif</string>
    <key>_GOI.medi</key>
    <string>_G_O_I_.medi.glif</string>
    <key>_GUe.fina</key>
    <string>_G_U_e.fina.glif</string>
    <key>_GUe.isol</key>
    <string>_G_U_e.isol.glif</string>
    <key>_GW.fina</key>
    <string>_G_W_.fina.glif</string>
    <key>_GW.init</key>
    <string>_G_W_.init.glif</string>
    <key>_GW.isol</key>
    <string>_G_W_.isol.glif</string>
    <key>_GW.medi</key>
    <string>_G_W_.medi.glif</string>
    <key>_Gx.init</key>
    <string>_G_x.init.glif</string>
    <key>_Gx.medi</key>
    <string>_G_x.medi.glif</string>
    <key>_GxA.init</key>
    <string>_G_xA_.init.glif</string>
    <key>_GxA.medi</key>
    <string>_G_xA_.medi.glif</string>
    <key>_GxAa.fina</key>
    <string>_G_xA_a.fina.glif</string>
    <key>_GxAa.isol</key>
    <string>_G_xA_a.isol.glif</string>
    <key>_GxI.fina</key>
    <string>_G_xI_.fina.glif</string>
    <key>_GxI.init</key>
    <string>_G_xI_.init.glif</string>
    <key>_GxI.isol</key>
    <string>_G_xI_.isol.glif</string>
    <key>_GxI.medi</key>
    <string>_G_xI_.medi.glif</string>
    <key>_GxO.fina</key>
    <string>_G_xO_.fina.glif</string>
    <key>_GxO.init</key>
    <string>_G_xO_.init.glif</string>
    <key>_GxO.isol</key>
    <string>_G_xO_.isol.glif</string>
    <key>_GxO.medi</key>
    <string>_G_xO_.medi.glif</string>
    <key>_GxOI.init</key>
    <string>_G_xO_I_.init.glif</string>
    <key>_GxOI.medi</key>
    <string>_G_xO_I_.medi.glif</string>
    <key>_GxUe.fina</key>
    <string>_G_xU_e.fina.glif</string>
    <key>_GxUe.isol</key>
    <string>_G_xU_e.isol.glif</string>
    <key>_GxW.fina</key>
    <string>_G_xW_.fina.glif</string>
    <key>_GxW.init</key>
    <string>_G_xW_.init.glif</string>
    <key>_GxW.isol</key>
    <string>_G_xW_.isol.glif</string>
    <key>_GxW.medi</key>
    <string>_G_xW_.medi.glif</string>
    <key>_H.fina</key>
    <string>_H_.fina.glif</string>
    <key>_H.init</key>
    <string>_H_.init.glif</string>
    <key>_H.medi</key>
    <string>_H_.medi.glif</string>
    <key>_Hr.fina</key>
    <string>_H_r.fina.glif</string>
    <key>_Hr.medi</key>
    <string>_H_r.medi.glif</string>
    <key>_Hx.fina</key>
    <string>_H_x.fina.glif</string>
    <key>_Hx.fina.mvs</key>
    <string>_H_x.fina.mvs.glif</string>
    <key>_Hx.init</key>
    <string>_H_x.init.glif</string>
    <key>_Hx.medi</key>
    <string>_H_x.medi.glif</string>
    <key>_I.fina</key>
    <string>_I_.fina.glif</string>
    <key>_I.init</key>
    <string>_I_.init.glif</string>
    <key>_I.isol</key>
    <string>_I_.isol.glif</string>
    <key>_I.medi</key>
    <string>_I_.medi.glif</string>
    <key>_Ix.isol</key>
    <string>_I_x.isol.glif</string>
    <key>_J.fina</key>
    <string>_J_.fina.glif</string>
    <key>_J.medi</key>
    <string>_J_.medi.glif</string>
    <key>_K.fina</key>
    <string>_K_.fina.glif</string>
    <key>_K.init</key>
    <string>_K_.init.glif</string>
    <key>_K.medi</key>
    <string>_K_.medi.glif</string>
    <key>_K2.fina</key>
    <string>_K_2.fina.glif</string>
    <key>_K2.init</key>
    <string>_K_2.init.glif</string>
    <key>_K2.medi</key>
    <string>_K_2.medi.glif</string>
    <key>_K2A.init</key>
    <string>_K_2A_.init.glif</string>
    <key>_K2A.medi</key>
    <string>_K_2A_.medi.glif</string>
    <key>_K2Aa.fina</key>
    <string>_K_2A_a.fina.glif</string>
    <key>_K2Aa.isol</key>
    <string>_K_2A_a.isol.glif</string>
    <key>_K2I.fina</key>
    <string>_K_2I_.fina.glif</string>
    <key>_K2I.init</key>
    <string>_K_2I_.init.glif</string>
    <key>_K2I.isol</key>
    <string>_K_2I_.isol.glif</string>
    <key>_K2I.medi</key>
    <string>_K_2I_.medi.glif</string>
    <key>_K2O.fina</key>
    <string>_K_2O_.fina.glif</string>
    <key>_K2O.init</key>
    <string>_K_2O_.init.glif</string>
    <key>_K2O.isol</key>
    <string>_K_2O_.isol.glif</string>
    <key>_K2O.medi</key>
    <string>_K_2O_.medi.glif</string>
    <key>_K2OI.init</key>
    <string>_K_2O_I_.init.glif</string>
    <key>_K2OI.medi</key>
    <string>_K_2O_I_.medi.glif</string>
    <key>_K2Ue.fina</key>
    <string>_K_2U_e.fina.glif</string>
    <key>_K2Ue.isol</key>
    <string>_K_2U_e.isol.glif</string>
    <key>_K2W.fina</key>
    <string>_K_2W_.fina.glif</string>
    <key>_K2W.init</key>
    <string>_K_2W_.init.glif</string>
    <key>_K2W.isol</key>
    <string>_K_2W_.isol.glif</string>
    <key>_K2W.medi</key>
    <string>_K_2W_.medi.glif</string>
    <key>_KA.init</key>
    <string>_K_A_.init.glif</string>
    <key>_KA.medi</key>
    <string>_K_A_.medi.glif</string>
    <key>_KAa.fina</key>
    <string>_K_A_a.fina.glif</string>
    <key>_KAa.isol</key>
    <string>_K_A_a.isol.glif</string>
    <key>_KI.fina</key>
    <string>_K_I_.fina.glif</string>
    <key>_KI.init</key>
    <string>_K_I_.init.glif</string>
    <key>_KI.isol</key>
    <string>_K_I_.isol.glif</string>
    <key>_KI.medi</key>
    <string>_K_I_.medi.glif</string>
    <key>_KO.fina</key>
    <string>_K_O_.fina.glif</string>
    <key>_KO.init</key>
    <string>_K_O_.init.glif</string>
    <key>_KO.isol</key>
    <string>_K_O_.isol.glif</string>
    <key>_KO.medi</key>
    <string>_K_O_.medi.glif</string>
    <key>_KOI.init</key>
    <string>_K_O_I_.init.glif</string>
    <key>_KOI.medi</key>
    <string>_K_O_I_.medi.glif</string>
    <key>_KUe.fina</key>
    <string>_K_U_e.fina.glif</string>
    <key>_KUe.isol</key>
    <string>_K_U_e.isol.glif</string>
    <key>_KW.fina</key>
    <string>_K_W_.fina.glif</string>
    <key>_KW.init</key>
    <string>_K_W_.init.glif</string>
    <key>_KW.isol</key>
    <string>_K_W_.isol.glif</string>
    <key>_KW.medi</key>
    <string>_K_W_.medi.glif</string>
    <key>_L.fina</key>
    <string>_L_.fina.glif</string>
    <key>_L.init</key>
    <string>_L_.init.glif</string>
    <key>_L.medi</key>
    <string>_L_.medi.glif</string>
    <key>_LL.medi</key>
    <string>_L_L_.medi.glif</string>
    <key>_M.fina</key>
    <string>_M_.fina.glif</string>
    <key>_M.init</key>
    <string>_M_.init.glif</string>
    <key>_M.medi</key>
    <string>_M_.medi.glif</string>
    <key>_ML.medi</key>
    <string>_M_L_.medi.glif</string>
    <key>_MM.medi</key>
    <string>_M_M_.medi.glif</string>
    <key>_N.fina</key>
    <string>_N_.fina.glif</string>
    <key>_N.fina.mvs</key>
    <string>_N_.fina.mvs.glif</string>
    <key>_N.init</key>
    <string>_N_.init.glif</string>
    <key>_N.medi</key>
    <string>_N_.medi.glif</string>
    <key>_O.fina</key>
    <string>_O_.fina.glif</string>
    <key>_O.init</key>
    <string>_O_.init.glif</string>
    <key>_O.medi</key>
    <string>_O_.medi.glif</string>
    <key>_P.fina</key>
    <string>_P_.fina.glif</string>
    <key>_P.init</key>
    <string>_P_.init.glif</string>
    <key>_P.medi</key>
    <string>_P_.medi.glif</string>
    <key>_PA.init</key>
    <string>_P_A_.init.glif</string>
    <key>_PA.medi</key>
    <string>_P_A_.medi.glif</string>
    <key>_PAa.fina</key>
    <string>_P_A_a.fina.glif</string>
    <key>_PAa.isol</key>
    <string>_P_A_a.isol.glif</string>
    <key>_PI.fina</key>
    <string>_P_I_.fina.glif</string>
    <key>_PI.init</key>
    <string>_P_I_.init.glif</string>
    <key>_PI.isol</key>
    <string>_P_I_.isol.glif</string>
    <key>_PI.medi</key>
    <string>_P_I_.medi.glif</string>
    <key>_PO.fina</key>
    <string>_P_O_.fina.glif</string>
    <key>_PO.init</key>
    <string>_P_O_.init.glif</string>
    <key>_PO.isol</key>
    <string>_P_O_.isol.glif</string>
    <key>_PO.medi</key>
    <string>_P_O_.medi.glif</string>
    <key>_POI.init</key>
    <string>_P_O_I_.init.glif</string>
    <key>_POI.medi</key>
    <string>_P_O_I_.medi.glif</string>
    <key>_PUe.fina</key>
    <string>_P_U_e.fina.glif</string>
    <key>_PUe.isol</key>
    <string>_P_U_e.isol.glif</string>
    <key>_PW.fina</key>
    <string>_P_W_.fina.glif</string>
    <key>_PW.init</key>
    <string>_P_W_.init.glif</string>
    <key>_PW.isol</key>
    <string>_P_W_.isol.glif</string>
    <key>_PW.medi</key>
    <string>_P_W_.medi.glif</string>
    <key>_R.fina</key>
    <string>_R_.fina.glif</string>
    <key>_R.init</key>
    <string>_R_.init.glif</string>
    <key>_R.medi</key>
    <string>_R_.medi.glif</string>
    <key>_Rh.fina</key>
    <string>_R_h.fina.glif</string>
    <key>_Rh.init</key>
    <string>_R_h.init.glif</string>
    <key>_Rh.medi</key>
    <string>_R_h.medi.glif</string>
    <key>_S.fina</key>
    <string>_S_.fina.glif</string>
    <key>_S.init</key>
    <string>_S_.init.glif</string>
    <key>_S.medi</key>
    <string>_S_.medi.glif</string>
    <key>_Sh.fina</key>
    <string>_S_h.fina.glif</string>
    <key>_Sh.init</key>
    <string>_S_h.init.glif</string>
    <key>_Sh.medi</key>
    <string>_S_h.medi.glif</string>
    <key>_Sz.fina</key>
    <string>_S_z.fina.glif</string>
    <key>_T.fina</key>
    <string>_T_.fina.glif</string>
    <key>_T.init</key>
    <string>_T_.init.glif</string>
    <key>_T.medi</key>
    <string>_T_.medi.glif</string>
    <key>_U.fina</key>
    <string>_U_.fina.glif</string>
    <key>_U.isol</key>
    <string>_U_.isol.glif</string>
    <key>_Ue.fina</key>
    <string>_U_e.fina.glif</string>
    <key>_Ux.isol</key>
    <string>_U_x.isol.glif</string>
    <key>_W.fina</key>
    <string>_W_.fina.glif</string>
    <key>_W.init</key>
    <string>_W_.init.glif</string>
    <key>_W.medi</key>
    <string>_W_.medi.glif</string>
    <key>_Y.init</key>
    <string>_Y_.init.glif</string>
    <key>_Y.medi</key>
    <string>_Y_.medi.glif</string>
    <key>_Z.fina</key>
    <string>_Z_.fina.glif</string>
    <key>_Z.init</key>
    <string>_Z_.init.glif</string>
    <key>_Z.medi</key>
    <string>_Z_.medi.glif</string>
    <key>_Zr.init</key>
    <string>_Z_r.init.glif</string>
    <key>fvs1</key>
    <string>fvs1.glif</string>
    <key>fvs2</key>
    <string>fvs2.glif</string>
    <key>fvs3</key>
    <string>fvs3.glif</string>
    <key>fvs4</key>
    <string>fvs4.glif</string>
    <key>mvs</key>
    <string>mvs.glif</string>
    <key>mvs.narrow</key>
    <string>mvs.narrow.glif</string>
    <key>nirugu</key>
    <string>nirugu.glif</string>
    <key>nnbsp</key>
    <string>nnbsp.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>zwj</key>
    <string>zwj.glif</string>
    <key>zwnj</key>
    <string>zwnj.glif</string>
  </dict>
</plist>
