<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1457</integer>
	<key>capHeight</key>
	<integer>714</integer>
	<key>copyright</key>
	<string>Copyright 2018 Google Inc. All Rights Reserved.</string>
	<key>descender</key>
	<integer>-293</integer>
	<key>familyName</key>
	<string>Noto Sans Mongolian</string>
	<key>openTypeHeadCreated</key>
	<string>2019/09/24 02:22:52</string>
	<key>openTypeHheaAscender</key>
	<integer>1457</integer>
	<key>openTypeHheaDescender</key>
	<integer>-293</integer>
	<key>openTypeNameDesigner</key>
	<string>Monotype Design Team</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.monotype.com/studio</string>
	<key>openTypeNameManufacturer</key>
	<string>Monotype Imaging Inc.</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://www.google.com/get/noto/</string>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>266</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>50</integer>
	<key>openTypeOS2Type</key>
	<array/>
	<key>openTypeOS2TypoAscender</key>
	<integer>1457</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-293</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>31</integer>
		<integer>42</integer>
		<integer>45</integer>
		<integer>48</integer>
		<integer>57</integer>
		<integer>65</integer>
		<integer>81</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>GOOG</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1457</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>293</integer>
	<key>postscriptBlueValues</key>
	<array/>
	<key>postscriptFontName</key>
	<string>NotoSansMongolian-Regular</string>
	<key>postscriptOtherBlues</key>
	<array/>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>2</integer>
	<key>versionMinor</key>
	<integer>1</integer>
	<key>xHeight</key>
	<integer>444</integer>
</dict>
</plist>
