<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>_A.fina</key>
  <string>_A_.fina.glif</string>
  <key>_A.init</key>
  <string>_A_.init.glif</string>
  <key>_A.isol</key>
  <string>_A_.isol.glif</string>
  <key>_A.medi</key>
  <string>_A_.medi.glif</string>
  <key>_AGH.medi</key>
  <string>_A_G_H_.medi.glif</string>
  <key>_AGHc.medi</key>
  <string>_A_G_H_c.medi.glif</string>
  <key>_AGHh.medi</key>
  <string>_A_G_H_h.medi.glif</string>
  <key>_AGL.medi</key>
  <string>_A_G_L_.medi.glif</string>
  <key>_AGM.medi</key>
  <string>_A_G_M_.medi.glif</string>
  <key>_AGN.medi</key>
  <string>_A_G_N_.medi.glif</string>
  <key>_Aa.fina</key>
  <string>_A_a.fina.glif</string>
  <key>_Ah.fina</key>
  <string>_A_h.fina.glif</string>
  <key>_Ah.medi</key>
  <string>_A_h.medi.glif</string>
  <key>_Ai.fina</key>
  <string>_A_i.fina.glif</string>
  <key>_Ai.medi</key>
  <string>_A_i.medi.glif</string>
  <key>_At.fina</key>
  <string>_A_t.fina.glif</string>
  <key>_B.fina</key>
  <string>_B_.fina.glif</string>
  <key>_B.init</key>
  <string>_B_.init.glif</string>
  <key>_B.medi</key>
  <string>_B_.medi.glif</string>
  <key>_BA.init</key>
  <string>_B_A_.init.glif</string>
  <key>_BA.medi</key>
  <string>_B_A_.medi.glif</string>
  <key>_BAa.fina</key>
  <string>_B_A_a.fina.glif</string>
  <key>_BAa.isol</key>
  <string>_B_A_a.isol.glif</string>
  <key>_BAh.init</key>
  <string>_B_A_h.init.glif</string>
  <key>_BAh.medi</key>
  <string>_B_A_h.medi.glif</string>
  <key>_BAt.fina</key>
  <string>_B_A_t.fina.glif</string>
  <key>_BAt.isol</key>
  <string>_B_A_t.isol.glif</string>
  <key>_BI.fina</key>
  <string>_B_I_.fina.glif</string>
  <key>_BI.init</key>
  <string>_B_I_.init.glif</string>
  <key>_BI.isol</key>
  <string>_B_I_.isol.glif</string>
  <key>_BI.medi</key>
  <string>_B_I_.medi.glif</string>
  <key>_BL.init</key>
  <string>_B_L_.init.glif</string>
  <key>_BL.medi</key>
  <string>_B_L_.medi.glif</string>
  <key>_BM.init</key>
  <string>_B_M_.init.glif</string>
  <key>_BM.medi</key>
  <string>_B_M_.medi.glif</string>
  <key>_BO.fina</key>
  <string>_B_O_.fina.glif</string>
  <key>_BO.init</key>
  <string>_B_O_.init.glif</string>
  <key>_BO.isol</key>
  <string>_B_O_.isol.glif</string>
  <key>_BO.medi</key>
  <string>_B_O_.medi.glif</string>
  <key>_BOI.init</key>
  <string>_B_O_I_.init.glif</string>
  <key>_BOI.medi</key>
  <string>_B_O_I_.medi.glif</string>
  <key>_BOh.fina</key>
  <string>_B_O_h.fina.glif</string>
  <key>_BOh.init</key>
  <string>_B_O_h.init.glif</string>
  <key>_BOh.isol</key>
  <string>_B_O_h.isol.glif</string>
  <key>_BOh.medi</key>
  <string>_B_O_h.medi.glif</string>
  <key>_BUe.fina</key>
  <string>_B_U_e.fina.glif</string>
  <key>_BUe.isol</key>
  <string>_B_U_e.isol.glif</string>
  <key>_Cc.init</key>
  <string>_C_c.init.glif</string>
  <key>_Cc.medi</key>
  <string>_C_c.medi.glif</string>
  <key>_Ch.init</key>
  <string>_C_h.init.glif</string>
  <key>_Ch.medi</key>
  <string>_C_h.medi.glif</string>
  <key>_Cs.init</key>
  <string>_C_s.init.glif</string>
  <key>_Cs.medi</key>
  <string>_C_s.medi.glif</string>
  <key>_D.medi</key>
  <string>_D_.medi.glif</string>
  <key>_Db.medi</key>
  <string>_D_b.medi.glif</string>
  <key>_Dd.fina</key>
  <string>_D_d.fina.glif</string>
  <key>_Dd.medi</key>
  <string>_D_d.medi.glif</string>
  <key>_Dh.medi</key>
  <string>_D_h.medi.glif</string>
  <key>_Dt.medi</key>
  <string>_D_t.medi.glif</string>
  <key>_G.fina</key>
  <string>_G_.fina.glif</string>
  <key>_G.init</key>
  <string>_G_.init.glif</string>
  <key>_G.medi</key>
  <string>_G_.medi.glif</string>
  <key>_G4.fina</key>
  <string>_G_4.fina.glif</string>
  <key>_GA.init</key>
  <string>_G_A_.init.glif</string>
  <key>_GA.medi</key>
  <string>_G_A_.medi.glif</string>
  <key>_GAa.fina</key>
  <string>_G_A_a.fina.glif</string>
  <key>_GAa.isol</key>
  <string>_G_A_a.isol.glif</string>
  <key>_GI.fina</key>
  <string>_G_I_.fina.glif</string>
  <key>_GI.init</key>
  <string>_G_I_.init.glif</string>
  <key>_GI.isol</key>
  <string>_G_I_.isol.glif</string>
  <key>_GI.medi</key>
  <string>_G_I_.medi.glif</string>
  <key>_GL.init</key>
  <string>_G_L_.init.glif</string>
  <key>_GL.medi</key>
  <string>_G_L_.medi.glif</string>
  <key>_GM.init</key>
  <string>_G_M_.init.glif</string>
  <key>_GM.medi</key>
  <string>_G_M_.medi.glif</string>
  <key>_GO.fina</key>
  <string>_G_O_.fina.glif</string>
  <key>_GO.init</key>
  <string>_G_O_.init.glif</string>
  <key>_GO.isol</key>
  <string>_G_O_.isol.glif</string>
  <key>_GO.medi</key>
  <string>_G_O_.medi.glif</string>
  <key>_GOI.init</key>
  <string>_G_O_I_.init.glif</string>
  <key>_GOI.medi</key>
  <string>_G_O_I_.medi.glif</string>
  <key>_GUe.fina</key>
  <string>_G_U_e.fina.glif</string>
  <key>_GUe.isol</key>
  <string>_G_U_e.isol.glif</string>
  <key>_Gc.init</key>
  <string>_G_c.init.glif</string>
  <key>_Gc.medi</key>
  <string>_G_c.medi.glif</string>
  <key>_GcA.init</key>
  <string>_G_cA_.init.glif</string>
  <key>_GcA.medi</key>
  <string>_G_cA_.medi.glif</string>
  <key>_GcAa.fina</key>
  <string>_G_cA_a.fina.glif</string>
  <key>_GcAa.isol</key>
  <string>_G_cA_a.isol.glif</string>
  <key>_GcI.fina</key>
  <string>_G_cI_.fina.glif</string>
  <key>_GcI.init</key>
  <string>_G_cI_.init.glif</string>
  <key>_GcI.isol</key>
  <string>_G_cI_.isol.glif</string>
  <key>_GcI.medi</key>
  <string>_G_cI_.medi.glif</string>
  <key>_GcO.fina</key>
  <string>_G_cO_.fina.glif</string>
  <key>_GcO.init</key>
  <string>_G_cO_.init.glif</string>
  <key>_GcO.isol</key>
  <string>_G_cO_.isol.glif</string>
  <key>_GcO.medi</key>
  <string>_G_cO_.medi.glif</string>
  <key>_GcOI.init</key>
  <string>_G_cO_I_.init.glif</string>
  <key>_GcOI.medi</key>
  <string>_G_cO_I_.medi.glif</string>
  <key>_GcUe.fina</key>
  <string>_G_cU_e.fina.glif</string>
  <key>_GcUe.isol</key>
  <string>_G_cU_e.isol.glif</string>
  <key>_Gh.init</key>
  <string>_G_h.init.glif</string>
  <key>_Gh.medi</key>
  <string>_G_h.medi.glif</string>
  <key>_GhA.init</key>
  <string>_G_hA_.init.glif</string>
  <key>_GhA.medi</key>
  <string>_G_hA_.medi.glif</string>
  <key>_GhAa.fina</key>
  <string>_G_hA_a.fina.glif</string>
  <key>_GhAa.isol</key>
  <string>_G_hA_a.isol.glif</string>
  <key>_GhI.fina</key>
  <string>_G_hI_.fina.glif</string>
  <key>_GhI.init</key>
  <string>_G_hI_.init.glif</string>
  <key>_GhI.isol</key>
  <string>_G_hI_.isol.glif</string>
  <key>_GhI.medi</key>
  <string>_G_hI_.medi.glif</string>
  <key>_GhO.fina</key>
  <string>_G_hO_.fina.glif</string>
  <key>_GhO.init</key>
  <string>_G_hO_.init.glif</string>
  <key>_GhO.isol</key>
  <string>_G_hO_.isol.glif</string>
  <key>_GhO.medi</key>
  <string>_G_hO_.medi.glif</string>
  <key>_GhOI.init</key>
  <string>_G_hO_I_.init.glif</string>
  <key>_GhOI.medi</key>
  <string>_G_hO_I_.medi.glif</string>
  <key>_GhUe.fina</key>
  <string>_G_hU_e.fina.glif</string>
  <key>_GhUe.isol</key>
  <string>_G_hU_e.isol.glif</string>
  <key>_Gx.fina</key>
  <string>_G_x.fina.glif</string>
  <key>_Gx.init</key>
  <string>_G_x.init.glif</string>
  <key>_Gx.medi</key>
  <string>_G_x.medi.glif</string>
  <key>_H.init</key>
  <string>_H_.init.glif</string>
  <key>_H.medi</key>
  <string>_H_.medi.glif</string>
  <key>_Hc.init</key>
  <string>_H_c.init.glif</string>
  <key>_Hc.medi</key>
  <string>_H_c.medi.glif</string>
  <key>_Hh.init</key>
  <string>_H_h.init.glif</string>
  <key>_Hh.medi</key>
  <string>_H_h.medi.glif</string>
  <key>_Hx.medi</key>
  <string>_H_x.medi.glif</string>
  <key>_Hx2.fina</key>
  <string>_H_x2.fina.glif</string>
  <key>_I.fina</key>
  <string>_I_.fina.glif</string>
  <key>_I.init</key>
  <string>_I_.init.glif</string>
  <key>_I.isol</key>
  <string>_I_.isol.glif</string>
  <key>_I.medi</key>
  <string>_I_.medi.glif</string>
  <key>_Ic.init</key>
  <string>_I_c.init.glif</string>
  <key>_Iy.fina</key>
  <string>_I_y.fina.glif</string>
  <key>_J.medi</key>
  <string>_J_.medi.glif</string>
  <key>_Jc.medi</key>
  <string>_J_c.medi.glif</string>
  <key>_K2.init</key>
  <string>_K_2.init.glif</string>
  <key>_K2.medi</key>
  <string>_K_2.medi.glif</string>
  <key>_K2A.init</key>
  <string>_K_2A_.init.glif</string>
  <key>_K2A.medi</key>
  <string>_K_2A_.medi.glif</string>
  <key>_K2Aa.fina</key>
  <string>_K_2A_a.fina.glif</string>
  <key>_K2Aa.isol</key>
  <string>_K_2A_a.isol.glif</string>
  <key>_K2O.fina</key>
  <string>_K_2O_.fina.glif</string>
  <key>_K2O.init</key>
  <string>_K_2O_.init.glif</string>
  <key>_K2O.isol</key>
  <string>_K_2O_.isol.glif</string>
  <key>_K2O.medi</key>
  <string>_K_2O_.medi.glif</string>
  <key>_Kc.init</key>
  <string>_K_c.init.glif</string>
  <key>_Kc.medi</key>
  <string>_K_c.medi.glif</string>
  <key>_KcA.init</key>
  <string>_K_cA_.init.glif</string>
  <key>_KcA.medi</key>
  <string>_K_cA_.medi.glif</string>
  <key>_KcAa.fina</key>
  <string>_K_cA_a.fina.glif</string>
  <key>_KcAa.isol</key>
  <string>_K_cA_a.isol.glif</string>
  <key>_KcO.fina</key>
  <string>_K_cO_.fina.glif</string>
  <key>_KcO.init</key>
  <string>_K_cO_.init.glif</string>
  <key>_KcO.isol</key>
  <string>_K_cO_.isol.glif</string>
  <key>_KcO.medi</key>
  <string>_K_cO_.medi.glif</string>
  <key>_Kh.init</key>
  <string>_K_h.init.glif</string>
  <key>_Kh.medi</key>
  <string>_K_h.medi.glif</string>
  <key>_KhA.init</key>
  <string>_K_hA_.init.glif</string>
  <key>_KhA.medi</key>
  <string>_K_hA_.medi.glif</string>
  <key>_KhAa.fina</key>
  <string>_K_hA_a.fina.glif</string>
  <key>_KhAa.isol</key>
  <string>_K_hA_a.isol.glif</string>
  <key>_KhO.fina</key>
  <string>_K_hO_.fina.glif</string>
  <key>_KhO.init</key>
  <string>_K_hO_.init.glif</string>
  <key>_KhO.isol</key>
  <string>_K_hO_.isol.glif</string>
  <key>_KhO.medi</key>
  <string>_K_hO_.medi.glif</string>
  <key>_L.fina</key>
  <string>_L_.fina.glif</string>
  <key>_L.init</key>
  <string>_L_.init.glif</string>
  <key>_L.medi</key>
  <string>_L_.medi.glif</string>
  <key>_LL.medi</key>
  <string>_L_L_.medi.glif</string>
  <key>_M.init</key>
  <string>_M_.init.glif</string>
  <key>_M.medi</key>
  <string>_M_.medi.glif</string>
  <key>_M3.fina</key>
  <string>_M_3.fina.glif</string>
  <key>_ML.medi</key>
  <string>_M_L_.medi.glif</string>
  <key>_MM.medi</key>
  <string>_M_M_.medi.glif</string>
  <key>_N.fina</key>
  <string>_N_.fina.glif</string>
  <key>_N.init</key>
  <string>_N_.init.glif</string>
  <key>_N.medi</key>
  <string>_N_.medi.glif</string>
  <key>_O.fina</key>
  <string>_O_.fina.glif</string>
  <key>_O.medi</key>
  <string>_O_.medi.glif</string>
  <key>_Oh.fina</key>
  <string>_O_h.fina.glif</string>
  <key>_Oh.medi</key>
  <string>_O_h.medi.glif</string>
  <key>_Pb.init</key>
  <string>_P_b.init.glif</string>
  <key>_Pb.medi</key>
  <string>_P_b.medi.glif</string>
  <key>_PbA.init</key>
  <string>_P_bA_.init.glif</string>
  <key>_PbA.medi</key>
  <string>_P_bA_.medi.glif</string>
  <key>_PbAa.fina</key>
  <string>_P_bA_a.fina.glif</string>
  <key>_PbAa.isol</key>
  <string>_P_bA_a.isol.glif</string>
  <key>_PbAh.init</key>
  <string>_P_bA_h.init.glif</string>
  <key>_PbAh.medi</key>
  <string>_P_bA_h.medi.glif</string>
  <key>_PbAt.fina</key>
  <string>_P_bA_t.fina.glif</string>
  <key>_PbAt.isol</key>
  <string>_P_bA_t.isol.glif</string>
  <key>_PbI.fina</key>
  <string>_P_bI_.fina.glif</string>
  <key>_PbI.init</key>
  <string>_P_bI_.init.glif</string>
  <key>_PbI.isol</key>
  <string>_P_bI_.isol.glif</string>
  <key>_PbI.medi</key>
  <string>_P_bI_.medi.glif</string>
  <key>_PbO.fina</key>
  <string>_P_bO_.fina.glif</string>
  <key>_PbO.init</key>
  <string>_P_bO_.init.glif</string>
  <key>_PbO.isol</key>
  <string>_P_bO_.isol.glif</string>
  <key>_PbO.medi</key>
  <string>_P_bO_.medi.glif</string>
  <key>_PbOI.init</key>
  <string>_P_bO_I_.init.glif</string>
  <key>_PbOI.medi</key>
  <string>_P_bO_I_.medi.glif</string>
  <key>_PbOh.fina</key>
  <string>_P_bO_h.fina.glif</string>
  <key>_PbOh.init</key>
  <string>_P_bO_h.init.glif</string>
  <key>_PbOh.isol</key>
  <string>_P_bO_h.isol.glif</string>
  <key>_PbOh.medi</key>
  <string>_P_bO_h.medi.glif</string>
  <key>_PbUe.fina</key>
  <string>_P_bU_e.fina.glif</string>
  <key>_PbUe.isol</key>
  <string>_P_bU_e.isol.glif</string>
  <key>_R.init</key>
  <string>_R_.init.glif</string>
  <key>_R.medi</key>
  <string>_R_.medi.glif</string>
  <key>_R2.fina</key>
  <string>_R_2.fina.glif</string>
  <key>_Rr.init</key>
  <string>_R_r.init.glif</string>
  <key>_Rr.medi</key>
  <string>_R_r.medi.glif</string>
  <key>_S.fina</key>
  <string>_S_.fina.glif</string>
  <key>_S.init</key>
  <string>_S_.init.glif</string>
  <key>_S.medi</key>
  <string>_S_.medi.glif</string>
  <key>_Sp.fina</key>
  <string>_S_p.fina.glif</string>
  <key>_Sp.init</key>
  <string>_S_p.init.glif</string>
  <key>_Sp.medi</key>
  <string>_S_p.medi.glif</string>
  <key>_T.init</key>
  <string>_T_.init.glif</string>
  <key>_Tb.init</key>
  <string>_T_b.init.glif</string>
  <key>_Th.init</key>
  <string>_T_h.init.glif</string>
  <key>_Tt.init</key>
  <string>_T_t.init.glif</string>
  <key>_U.fina</key>
  <string>_U_.fina.glif</string>
  <key>_Ue.fina</key>
  <string>_U_e.fina.glif</string>
  <key>_Uh.fina</key>
  <string>_U_h.fina.glif</string>
  <key>_V.init</key>
  <string>_V_.init.glif</string>
  <key>_V.medi</key>
  <string>_V_.medi.glif</string>
  <key>_W.init</key>
  <string>_W_.init.glif</string>
  <key>_W.medi</key>
  <string>_W_.medi.glif</string>
  <key>_Y.init</key>
  <string>_Y_.init.glif</string>
  <key>_Y.medi</key>
  <string>_Y_.medi.glif</string>
  <key>_Zs.fina</key>
  <string>_Z_s.fina.glif</string>
  <key>_Zs.init</key>
  <string>_Z_s.init.glif</string>
  <key>_Zs.medi</key>
  <string>_Z_s.medi.glif</string>
  <key>fvs1</key>
  <string>fvs1.glif</string>
  <key>fvs2</key>
  <string>fvs2.glif</string>
  <key>fvs3</key>
  <string>fvs3.glif</string>
  <key>fvs4</key>
  <string>fvs4.glif</string>
  <key>mvs</key>
  <string>mvs.glif</string>
  <key>mvs.narrow</key>
  <string>mvs.narrow.glif</string>
  <key>nirugu</key>
  <string>nirugu.glif</string>
  <key>nnbsp</key>
  <string>nnbsp.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>zwj</key>
  <string>zwj.glif</string>
  <key>zwnj</key>
  <string>zwnj.glif</string>
</dict>
</plist>