<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>BA.fina</key>
	<string>B_A_.fina.glif</string>
	<key>BA.init</key>
	<string>B_A_.init.glif</string>
	<key>BA.isol</key>
	<string>B_A_.isol.glif</string>
	<key>BA.medi</key>
	<string>B_A_.medi.glif</string>
	<key>BI.fina</key>
	<string>B_I_.fina.glif</string>
	<key>BI.init</key>
	<string>B_I_.init.glif</string>
	<key>BI.isol</key>
	<string>B_I_.isol.glif</string>
	<key>BI.medi</key>
	<string>B_I_.medi.glif</string>
	<key>BO.fina</key>
	<string>B_O_.fina.glif</string>
	<key>BO.isol</key>
	<string>B_O_.isol.glif</string>
	<key>BO.init</key>
	<string>B_O_.init.glif</string>
	<key>BO.medi</key>
	<string>B_O_.medi.glif</string>
	<key>BOI.init</key>
	<string>B_O_I_.init.glif</string>
	<key>BOI.medi</key>
	<string>B_O_I_.medi.glif</string>
	<key>BUe.fina</key>
	<string>B_U_e.fina.glif</string>
	<key>BUe.isol</key>
	<string>B_U_e.isol.glif</string>
	<key>BW.fina</key>
	<string>B_W_.fina.glif</string>
	<key>BW.init</key>
	<string>B_W_.init.glif</string>
	<key>BW.isol</key>
	<string>B_W_.isol.glif</string>
	<key>BW.medi</key>
	<string>B_W_.medi.glif</string>
	<key>CR</key>
	<string>C_R_.glif</string>
	<key>FA.fina</key>
	<string>F_A_.fina.glif</string>
	<key>FA.init</key>
	<string>F_A_.init.glif</string>
	<key>FA.isol</key>
	<string>F_A_.isol.glif</string>
	<key>FA.medi</key>
	<string>F_A_.medi.glif</string>
	<key>FI.fina</key>
	<string>F_I_.fina.glif</string>
	<key>FI.init</key>
	<string>F_I_.init.glif</string>
	<key>FI.isol</key>
	<string>F_I_.isol.glif</string>
	<key>FI.medi</key>
	<string>F_I_.medi.glif</string>
	<key>FO.fina</key>
	<string>F_O_.fina.glif</string>
	<key>FO.isol</key>
	<string>F_O_.isol.glif</string>
	<key>FO.init</key>
	<string>F_O_.init.glif</string>
	<key>FO.medi</key>
	<string>F_O_.medi.glif</string>
	<key>FOI.init</key>
	<string>F_O_I_.init.glif</string>
	<key>FOI.medi</key>
	<string>F_O_I_.medi.glif</string>
	<key>FUe.fina</key>
	<string>F_U_e.fina.glif</string>
	<key>FUe.isol</key>
	<string>F_U_e.isol.glif</string>
	<key>FW.fina</key>
	<string>F_W_.fina.glif</string>
	<key>FW.init</key>
	<string>F_W_.init.glif</string>
	<key>FW.isol</key>
	<string>F_W_.isol.glif</string>
	<key>FW.medi</key>
	<string>F_W_.medi.glif</string>
	<key>GA.fina</key>
	<string>G_A_.fina.glif</string>
	<key>GA.init</key>
	<string>G_A_.init.glif</string>
	<key>GA.isol</key>
	<string>G_A_.isol.glif</string>
	<key>GA.medi</key>
	<string>G_A_.medi.glif</string>
	<key>GI.fina</key>
	<string>G_I_.fina.glif</string>
	<key>GI.init</key>
	<string>G_I_.init.glif</string>
	<key>GI.isol</key>
	<string>G_I_.isol.glif</string>
	<key>GI.medi</key>
	<string>G_I_.medi.glif</string>
	<key>GO.fina</key>
	<string>G_O_.fina.glif</string>
	<key>GO.isol</key>
	<string>G_O_.isol.glif</string>
	<key>GO.init</key>
	<string>G_O_.init.glif</string>
	<key>GO.medi</key>
	<string>G_O_.medi.glif</string>
	<key>GOI.init</key>
	<string>G_O_I_.init.glif</string>
	<key>GOI.medi</key>
	<string>G_O_I_.medi.glif</string>
	<key>GUe.fina</key>
	<string>G_U_e.fina.glif</string>
	<key>GUe.isol</key>
	<string>G_U_e.isol.glif</string>
	<key>GW.fina</key>
	<string>G_W_.fina.glif</string>
	<key>GW.init</key>
	<string>G_W_.init.glif</string>
	<key>GW.isol</key>
	<string>G_W_.isol.glif</string>
	<key>GW.medi</key>
	<string>G_W_.medi.glif</string>
	<key>GxA.fina</key>
	<string>G_xA_.fina.glif</string>
	<key>GxA.init</key>
	<string>G_xA_.init.glif</string>
	<key>GxA.isol</key>
	<string>G_xA_.isol.glif</string>
	<key>GxA.medi</key>
	<string>G_xA_.medi.glif</string>
	<key>GxI.fina</key>
	<string>G_xI_.fina.glif</string>
	<key>GxI.init</key>
	<string>G_xI_.init.glif</string>
	<key>GxI.isol</key>
	<string>G_xI_.isol.glif</string>
	<key>GxI.medi</key>
	<string>G_xI_.medi.glif</string>
	<key>GxO.fina</key>
	<string>G_xO_.fina.glif</string>
	<key>GxO.isol</key>
	<string>G_xO_.isol.glif</string>
	<key>GxO.init</key>
	<string>G_xO_.init.glif</string>
	<key>GxO.medi</key>
	<string>G_xO_.medi.glif</string>
	<key>GxOI.init</key>
	<string>G_xO_I_.init.glif</string>
	<key>GxOI.medi</key>
	<string>G_xO_I_.medi.glif</string>
	<key>GxUe.fina</key>
	<string>G_xU_e.fina.glif</string>
	<key>GxUe.isol</key>
	<string>G_xU_e.isol.glif</string>
	<key>GxW.fina</key>
	<string>G_xW_.fina.glif</string>
	<key>GxW.init</key>
	<string>G_xW_.init.glif</string>
	<key>GxW.isol</key>
	<string>G_xW_.isol.glif</string>
	<key>GxW.medi</key>
	<string>G_xW_.medi.glif</string>
	<key>K2A.fina</key>
	<string>K_2A_.fina.glif</string>
	<key>K2A.init</key>
	<string>K_2A_.init.glif</string>
	<key>K2A.isol</key>
	<string>K_2A_.isol.glif</string>
	<key>K2A.medi</key>
	<string>K_2A_.medi.glif</string>
	<key>K2I.fina</key>
	<string>K_2I_.fina.glif</string>
	<key>K2I.init</key>
	<string>K_2I_.init.glif</string>
	<key>K2I.isol</key>
	<string>K_2I_.isol.glif</string>
	<key>K2I.medi</key>
	<string>K_2I_.medi.glif</string>
	<key>K2O.fina</key>
	<string>K_2O_.fina.glif</string>
	<key>K2O.isol</key>
	<string>K_2O_.isol.glif</string>
	<key>K2O.init</key>
	<string>K_2O_.init.glif</string>
	<key>K2O.medi</key>
	<string>K_2O_.medi.glif</string>
	<key>K2OI.init</key>
	<string>K_2O_I_.init.glif</string>
	<key>K2OI.medi</key>
	<string>K_2O_I_.medi.glif</string>
	<key>K2Ue.fina</key>
	<string>K_2U_e.fina.glif</string>
	<key>K2Ue.isol</key>
	<string>K_2U_e.isol.glif</string>
	<key>K2W.fina</key>
	<string>K_2W_.fina.glif</string>
	<key>K2W.init</key>
	<string>K_2W_.init.glif</string>
	<key>K2W.isol</key>
	<string>K_2W_.isol.glif</string>
	<key>K2W.medi</key>
	<string>K_2W_.medi.glif</string>
	<key>KA.fina</key>
	<string>K_A_.fina.glif</string>
	<key>KA.init</key>
	<string>K_A_.init.glif</string>
	<key>KA.isol</key>
	<string>K_A_.isol.glif</string>
	<key>KA.medi</key>
	<string>K_A_.medi.glif</string>
	<key>KI.fina</key>
	<string>K_I_.fina.glif</string>
	<key>KI.init</key>
	<string>K_I_.init.glif</string>
	<key>KI.isol</key>
	<string>K_I_.isol.glif</string>
	<key>KI.medi</key>
	<string>K_I_.medi.glif</string>
	<key>KO.fina</key>
	<string>K_O_.fina.glif</string>
	<key>KO.isol</key>
	<string>K_O_.isol.glif</string>
	<key>KO.init</key>
	<string>K_O_.init.glif</string>
	<key>KO.medi</key>
	<string>K_O_.medi.glif</string>
	<key>KOI.init</key>
	<string>K_O_I_.init.glif</string>
	<key>KOI.medi</key>
	<string>K_O_I_.medi.glif</string>
	<key>KUe.fina</key>
	<string>K_U_e.fina.glif</string>
	<key>KUe.isol</key>
	<string>K_U_e.isol.glif</string>
	<key>KW.fina</key>
	<string>K_W_.fina.glif</string>
	<key>KW.init</key>
	<string>K_W_.init.glif</string>
	<key>KW.isol</key>
	<string>K_W_.isol.glif</string>
	<key>KW.medi</key>
	<string>K_W_.medi.glif</string>
	<key>NULL</key>
	<string>N_U_L_L_.glif</string>
	<key>PA.fina</key>
	<string>P_A_.fina.glif</string>
	<key>PA.init</key>
	<string>P_A_.init.glif</string>
	<key>PA.isol</key>
	<string>P_A_.isol.glif</string>
	<key>PA.medi</key>
	<string>P_A_.medi.glif</string>
	<key>PI.fina</key>
	<string>P_I_.fina.glif</string>
	<key>PI.init</key>
	<string>P_I_.init.glif</string>
	<key>PI.isol</key>
	<string>P_I_.isol.glif</string>
	<key>PI.medi</key>
	<string>P_I_.medi.glif</string>
	<key>PO.fina</key>
	<string>P_O_.fina.glif</string>
	<key>PO.isol</key>
	<string>P_O_.isol.glif</string>
	<key>PO.init</key>
	<string>P_O_.init.glif</string>
	<key>PO.medi</key>
	<string>P_O_.medi.glif</string>
	<key>POI.init</key>
	<string>P_O_I_.init.glif</string>
	<key>POI.medi</key>
	<string>P_O_I_.medi.glif</string>
	<key>PUe.fina</key>
	<string>P_U_e.fina.glif</string>
	<key>PUe.isol</key>
	<string>P_U_e.isol.glif</string>
	<key>PW.fina</key>
	<string>P_W_.fina.glif</string>
	<key>PW.init</key>
	<string>P_W_.init.glif</string>
	<key>PW.isol</key>
	<string>P_W_.isol.glif</string>
	<key>PW.medi</key>
	<string>P_W_.medi.glif</string>
	<key>a-mon</key>
	<string>a-mon.glif</string>
	<key>a.A.fina</key>
	<string>a.A_.fina.glif</string>
	<key>a.A.init</key>
	<string>a.A_.init.glif</string>
	<key>a.A.isol</key>
	<string>a.A_.isol.glif</string>
	<key>a.A.medi</key>
	<string>a.A_.medi.glif</string>
	<key>a.AA.init</key>
	<string>a.A_A_.init.glif</string>
	<key>a.AA.isol</key>
	<string>a.A_A_.isol.glif</string>
	<key>a.AA.medi</key>
	<string>a.A_A_.medi.glif</string>
	<key>a.Aa.fina</key>
	<string>a.A_a.fina.glif</string>
	<key>a.Aa.isol</key>
	<string>a.A_a.isol.glif</string>
	<key>b-mon</key>
	<string>b-mon.glif</string>
	<key>b.B.fina</key>
	<string>b.B_.fina.glif</string>
	<key>b.B.init</key>
	<string>b.B_.init.glif</string>
	<key>b.B.isol</key>
	<string>b.B_.isol.glif</string>
	<key>b.B.medi</key>
	<string>b.B_.medi.glif</string>
	<key>b.B2.fina</key>
	<string>b.B_2.fina.glif</string>
	<key>c-mon</key>
	<string>c-mon.glif</string>
	<key>c.C.fina</key>
	<string>c.C_.fina.glif</string>
	<key>c.C.init</key>
	<string>c.C_.init.glif</string>
	<key>c.C.isol</key>
	<string>c.C_.isol.glif</string>
	<key>c.C.medi</key>
	<string>c.C_.medi.glif</string>
	<key>ch-mon</key>
	<string>ch-mon.glif</string>
	<key>ch.Ch.fina</key>
	<string>ch.C_h.fina.glif</string>
	<key>ch.Ch.init</key>
	<string>ch.C_h.init.glif</string>
	<key>ch.Ch.isol</key>
	<string>ch.C_h.isol.glif</string>
	<key>ch.Ch.medi</key>
	<string>ch.C_h.medi.glif</string>
	<key>cr-mon</key>
	<string>cr-mon.glif</string>
	<key>cr.Cr.fina</key>
	<string>cr.C_r.fina.glif</string>
	<key>cr.Cr.init</key>
	<string>cr.C_r.init.glif</string>
	<key>cr.Cr.isol</key>
	<string>cr.C_r.isol.glif</string>
	<key>cr.Cr.medi</key>
	<string>cr.C_r.medi.glif</string>
	<key>d-mon</key>
	<string>d-mon.glif</string>
	<key>d.D.fina</key>
	<string>d.D_.fina.glif</string>
	<key>d.D.init</key>
	<string>d.D_.init.glif</string>
	<key>d.D.isol</key>
	<string>d.D_.isol.glif</string>
	<key>d.D.medi</key>
	<string>d.D_.medi.glif</string>
	<key>d.Dd.fina</key>
	<string>d.D_d.fina.glif</string>
	<key>d.Dd.medi</key>
	<string>d.D_d.medi.glif</string>
	<key>d.T.init</key>
	<string>d.T_.init.glif</string>
	<key>d.T.isol</key>
	<string>d.T_.isol.glif</string>
	<key>e-mon</key>
	<string>e-mon.glif</string>
	<key>e.A.fina</key>
	<string>e.A_.fina.glif</string>
	<key>e.A.init</key>
	<string>e.A_.init.glif</string>
	<key>e.A.isol</key>
	<string>e.A_.isol.glif</string>
	<key>e.A.medi</key>
	<string>e.A_.medi.glif</string>
	<key>e.AA.init</key>
	<string>e.A_A_.init.glif</string>
	<key>e.Aa.fina</key>
	<string>e.A_a.fina.glif</string>
	<key>e.Aa.isol</key>
	<string>e.A_a.isol.glif</string>
	<key>eh-mon</key>
	<string>eh-mon.glif</string>
	<key>eh.AW.init</key>
	<string>eh.A_W_.init.glif</string>
	<key>eh.AW.isol</key>
	<string>eh.A_W_.isol.glif</string>
	<key>eh.W.fina</key>
	<string>eh.W_.fina.glif</string>
	<key>eh.W.medi</key>
	<string>eh.W_.medi.glif</string>
	<key>f-mon</key>
	<string>f-mon.glif</string>
	<key>f.F.fina</key>
	<string>f.F_.fina.glif</string>
	<key>f.F.init</key>
	<string>f.F_.init.glif</string>
	<key>f.F.isol</key>
	<string>f.F_.isol.glif</string>
	<key>f.F.medi</key>
	<string>f.F_.medi.glif</string>
	<key>fvs1</key>
	<string>fvs1.glif</string>
	<key>fvs1.effe</key>
	<string>fvs1.effe.glif</string>
	<key>fvs2</key>
	<string>fvs2.glif</string>
	<key>fvs2.effe</key>
	<string>fvs2.effe.glif</string>
	<key>fvs3</key>
	<string>fvs3.glif</string>
	<key>fvs3.effe</key>
	<string>fvs3.effe.glif</string>
	<key>fvs4</key>
	<string>fvs4.glif</string>
	<key>fvs4.effe</key>
	<string>fvs4.effe.glif</string>
	<key>g-mon</key>
	<string>g-mon.glif</string>
	<key>g.G.fina</key>
	<string>g.G_.fina.glif</string>
	<key>g.G.init</key>
	<string>g.G_.init.glif</string>
	<key>g.G.isol</key>
	<string>g.G_.isol.glif</string>
	<key>g.G.medi</key>
	<string>g.G_.medi.glif</string>
	<key>g.Gh.fina</key>
	<string>g.G_h.fina.glif</string>
	<key>g.Gh.init</key>
	<string>g.G_h.init.glif</string>
	<key>g.Gh.isol</key>
	<string>g.G_h.isol.glif</string>
	<key>g.Gh.medi</key>
	<string>g.G_h.medi.glif</string>
	<key>g.Gx.init</key>
	<string>g.G_x.init.glif</string>
	<key>g.Gx.isol</key>
	<string>g.G_x.isol.glif</string>
	<key>g.Gx.medi</key>
	<string>g.G_x.medi.glif</string>
	<key>g.H.fina</key>
	<string>g.H_.fina.glif</string>
	<key>g.H.init</key>
	<string>g.H_.init.glif</string>
	<key>g.H.isol</key>
	<string>g.H_.isol.glif</string>
	<key>g.H.medi</key>
	<string>g.H_.medi.glif</string>
	<key>h-mon</key>
	<string>h-mon.glif</string>
	<key>h.G.init</key>
	<string>h.G_.init.glif</string>
	<key>h.G.isol</key>
	<string>h.G_.isol.glif</string>
	<key>h.G.medi</key>
	<string>h.G_.medi.glif</string>
	<key>h.Gh.fina</key>
	<string>h.G_h.fina.glif</string>
	<key>h.Gh.init</key>
	<string>h.G_h.init.glif</string>
	<key>h.Gh.isol</key>
	<string>h.G_h.isol.glif</string>
	<key>h.Gh.medi</key>
	<string>h.G_h.medi.glif</string>
	<key>h.Gx.init</key>
	<string>h.G_x.init.glif</string>
	<key>h.Gx.isol</key>
	<string>h.G_x.isol.glif</string>
	<key>h.Gx.medi</key>
	<string>h.G_x.medi.glif</string>
	<key>h.H.fina</key>
	<string>h.H_.fina.glif</string>
	<key>h.H.init</key>
	<string>h.H_.init.glif</string>
	<key>h.H.isol</key>
	<string>h.H_.isol.glif</string>
	<key>h.H.medi</key>
	<string>h.H_.medi.glif</string>
	<key>hh-mon</key>
	<string>hh-mon.glif</string>
	<key>hh.Hh.fina</key>
	<string>hh.H_h.fina.glif</string>
	<key>hh.Hh.init</key>
	<string>hh.H_h.init.glif</string>
	<key>hh.Hh.isol</key>
	<string>hh.H_h.isol.glif</string>
	<key>hh.Hh.medi</key>
	<string>hh.H_h.medi.glif</string>
	<key>i-mon</key>
	<string>i-mon.glif</string>
	<key>i.AI.init</key>
	<string>i.A_I_.init.glif</string>
	<key>i.AI.isol</key>
	<string>i.A_I_.isol.glif</string>
	<key>i.AI.medi</key>
	<string>i.A_I_.medi.glif</string>
	<key>i.I.fina</key>
	<string>i.I_.fina.glif</string>
	<key>i.I.init</key>
	<string>i.I_.init.glif</string>
	<key>i.I.isol</key>
	<string>i.I_.isol.glif</string>
	<key>i.I.medi</key>
	<string>i.I_.medi.glif</string>
	<key>i.II.medi</key>
	<string>i.I_I_.medi.glif</string>
	<key>i.Ix.isol</key>
	<string>i.I_x.isol.glif</string>
	<key>j-mon</key>
	<string>j-mon.glif</string>
	<key>j.I.fina</key>
	<string>j.I_.fina.glif</string>
	<key>j.I.init</key>
	<string>j.I_.init.glif</string>
	<key>j.I.isol</key>
	<string>j.I_.isol.glif</string>
	<key>j.I2.isol</key>
	<string>j.I_2.isol.glif</string>
	<key>j.J.fina</key>
	<string>j.J_.fina.glif</string>
	<key>j.J.medi</key>
	<string>j.J_.medi.glif</string>
	<key>k-mon</key>
	<string>k-mon.glif</string>
	<key>k.K.fina</key>
	<string>k.K_.fina.glif</string>
	<key>k.K.init</key>
	<string>k.K_.init.glif</string>
	<key>k.K.isol</key>
	<string>k.K_.isol.glif</string>
	<key>k.K.medi</key>
	<string>k.K_.medi.glif</string>
	<key>k2-mon</key>
	<string>k2-mon.glif</string>
	<key>k2.K2.fina</key>
	<string>k2.K_2.fina.glif</string>
	<key>k2.K2.init</key>
	<string>k2.K_2.init.glif</string>
	<key>k2.K2.isol</key>
	<string>k2.K_2.isol.glif</string>
	<key>k2.K2.medi</key>
	<string>k2.K_2.medi.glif</string>
	<key>l-mon</key>
	<string>l-mon.glif</string>
	<key>l.L.fina</key>
	<string>l.L_.fina.glif</string>
	<key>l.L.init</key>
	<string>l.L_.init.glif</string>
	<key>l.L.isol</key>
	<string>l.L_.isol.glif</string>
	<key>l.L.medi</key>
	<string>l.L_.medi.glif</string>
	<key>lh-mon</key>
	<string>lh-mon.glif</string>
	<key>lh.LHh.fina</key>
	<string>lh.L_H_h.fina.glif</string>
	<key>lh.LHh.init</key>
	<string>lh.L_H_h.init.glif</string>
	<key>lh.LHh.isol</key>
	<string>lh.L_H_h.isol.glif</string>
	<key>lh.LHh.medi</key>
	<string>lh.L_H_h.medi.glif</string>
	<key>m-mon</key>
	<string>m-mon.glif</string>
	<key>m.M.fina</key>
	<string>m.M_.fina.glif</string>
	<key>m.M.init</key>
	<string>m.M_.init.glif</string>
	<key>m.M.isol</key>
	<string>m.M_.isol.glif</string>
	<key>m.M.medi</key>
	<string>m.M_.medi.glif</string>
	<key>mvs</key>
	<string>mvs.glif</string>
	<key>mvs.effe</key>
	<string>mvs.effe.glif</string>
	<key>n-mon</key>
	<string>n-mon.glif</string>
	<key>n.A.fina</key>
	<string>n.A_.fina.glif</string>
	<key>n.A.init</key>
	<string>n.A_.init.glif</string>
	<key>n.A.isol</key>
	<string>n.A_.isol.glif</string>
	<key>n.A.medi</key>
	<string>n.A_.medi.glif</string>
	<key>n.N.fina</key>
	<string>n.N_.fina.glif</string>
	<key>n.N.init</key>
	<string>n.N_.init.glif</string>
	<key>n.N.isol</key>
	<string>n.N_.isol.glif</string>
	<key>n.N.medi</key>
	<string>n.N_.medi.glif</string>
	<key>ng-mon</key>
	<string>ng-mon.glif</string>
	<key>ng.AG.fina</key>
	<string>ng.A_G_.fina.glif</string>
	<key>ng.AG.init</key>
	<string>ng.A_G_.init.glif</string>
	<key>ng.AG.isol</key>
	<string>ng.A_G_.isol.glif</string>
	<key>ng.AG.medi</key>
	<string>ng.A_G_.medi.glif</string>
	<key>nirugu</key>
	<string>nirugu.glif</string>
	<key>nirugu.effe</key>
	<string>nirugu.effe.glif</string>
	<key>nnbsp</key>
	<string>nnbsp.glif</string>
	<key>nnbsp.effe</key>
	<string>nnbsp.effe.glif</string>
	<key>o-mon</key>
	<string>o-mon.glif</string>
	<key>o.AO.isol</key>
	<string>o.A_O_.isol.glif</string>
	<key>o.AO.init</key>
	<string>o.A_O_.init.glif</string>
	<key>o.AO.medi</key>
	<string>o.A_O_.medi.glif</string>
	<key>o.O.fina</key>
	<string>o.O_.fina.glif</string>
	<key>o.U.fina</key>
	<string>o.U_.fina.glif</string>
	<key>o.O.medi</key>
	<string>o.O_.medi.glif</string>
	<key>oe-mon</key>
	<string>oe-mon.glif</string>
	<key>oe.AU.isol</key>
	<string>oe.A_U_.isol.glif</string>
	<key>oe.AOI.init</key>
	<string>oe.A_O_I_.init.glif</string>
	<key>oe.AOI.medi</key>
	<string>oe.A_O_I_.medi.glif</string>
	<key>oe.AUe.isol</key>
	<string>oe.A_U_e.isol.glif</string>
	<key>oe.O.fina</key>
	<string>oe.O_.fina.glif</string>
	<key>oe.U.fina</key>
	<string>oe.U_.fina.glif</string>
	<key>oe.O.medi</key>
	<string>oe.O_.medi.glif</string>
	<key>oe.OI.medi</key>
	<string>oe.O_I_.medi.glif</string>
	<key>oe.Ue.fina</key>
	<string>oe.U_e.fina.glif</string>
	<key>p-mon</key>
	<string>p-mon.glif</string>
	<key>p.P.fina</key>
	<string>p.P_.fina.glif</string>
	<key>p.P.init</key>
	<string>p.P_.init.glif</string>
	<key>p.P.isol</key>
	<string>p.P_.isol.glif</string>
	<key>p.P.medi</key>
	<string>p.P_.medi.glif</string>
	<key>r-mon</key>
	<string>r-mon.glif</string>
	<key>r.R.fina</key>
	<string>r.R_.fina.glif</string>
	<key>r.R.init</key>
	<string>r.R_.init.glif</string>
	<key>r.R.isol</key>
	<string>r.R_.isol.glif</string>
	<key>r.R.medi</key>
	<string>r.R_.medi.glif</string>
	<key>rh-mon</key>
	<string>rh-mon.glif</string>
	<key>rh.Rh.fina</key>
	<string>rh.R_h.fina.glif</string>
	<key>rh.Rh.init</key>
	<string>rh.R_h.init.glif</string>
	<key>rh.Rh.isol</key>
	<string>rh.R_h.isol.glif</string>
	<key>rh.Rh.medi</key>
	<string>rh.R_h.medi.glif</string>
	<key>s-mon</key>
	<string>s-mon.glif</string>
	<key>s.S.fina</key>
	<string>s.S_.fina.glif</string>
	<key>s.S.init</key>
	<string>s.S_.init.glif</string>
	<key>s.S.isol</key>
	<string>s.S_.isol.glif</string>
	<key>s.S.medi</key>
	<string>s.S_.medi.glif</string>
	<key>s.S2.fina</key>
	<string>s.S_2.fina.glif</string>
	<key>sh-mon</key>
	<string>sh-mon.glif</string>
	<key>sh.S.init</key>
	<string>sh.S_.init.glif</string>
	<key>sh.S.isol</key>
	<string>sh.S_.isol.glif</string>
	<key>sh.S.medi</key>
	<string>sh.S_.medi.glif</string>
	<key>sh.Sh.fina</key>
	<string>sh.S_h.fina.glif</string>
	<key>sh.Sh.init</key>
	<string>sh.S_h.init.glif</string>
	<key>sh.Sh.isol</key>
	<string>sh.S_h.isol.glif</string>
	<key>sh.Sh.medi</key>
	<string>sh.S_h.medi.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t-mon</key>
	<string>t-mon.glif</string>
	<key>t.D.medi</key>
	<string>t.D_.medi.glif</string>
	<key>t.T.fina</key>
	<string>t.T_.fina.glif</string>
	<key>t.T.init</key>
	<string>t.T_.init.glif</string>
	<key>t.T.isol</key>
	<string>t.T_.isol.glif</string>
	<key>t.T.medi</key>
	<string>t.T_.medi.glif</string>
	<key>u-mon</key>
	<string>u-mon.glif</string>
	<key>u.AO.isol</key>
	<string>u.A_O_.isol.glif</string>
	<key>u.AO.init</key>
	<string>u.A_O_.init.glif</string>
	<key>u.AO.medi</key>
	<string>u.A_O_.medi.glif</string>
	<key>u.O.fina</key>
	<string>u.O_.fina.glif</string>
	<key>u.U.fina</key>
	<string>u.U_.fina.glif</string>
	<key>u.O.init</key>
	<string>u.O_.init.glif</string>
	<key>u.U.isol</key>
	<string>u.U_.isol.glif</string>
	<key>u.O.medi</key>
	<string>u.O_.medi.glif</string>
	<key>u.Ux.isol</key>
	<string>u.U_x.isol.glif</string>
	<key>ue-mon</key>
	<string>ue-mon.glif</string>
	<key>ue.AU.isol</key>
	<string>ue.A_U_.isol.glif</string>
	<key>ue.AOI.init</key>
	<string>ue.A_O_I_.init.glif</string>
	<key>ue.AOI.medi</key>
	<string>ue.A_O_I_.medi.glif</string>
	<key>ue.AUe.isol</key>
	<string>ue.A_U_e.isol.glif</string>
	<key>ue.O.fina</key>
	<string>ue.O_.fina.glif</string>
	<key>ue.U.fina</key>
	<string>ue.U_.fina.glif</string>
	<key>ue.O.init</key>
	<string>ue.O_.init.glif</string>
	<key>ue.U.isol</key>
	<string>ue.U_.isol.glif</string>
	<key>ue.O.medi</key>
	<string>ue.O_.medi.glif</string>
	<key>ue.OI.medi</key>
	<string>ue.O_I_.medi.glif</string>
	<key>ue.Ue.fina</key>
	<string>ue.U_e.fina.glif</string>
	<key>ue.Ux.isol</key>
	<string>ue.U_x.isol.glif</string>
	<key>uni00A0</key>
	<string>uni00A_0.glif</string>
	<key>w-mon</key>
	<string>w-mon.glif</string>
	<key>w.U.fina</key>
	<string>w.U_.fina.glif</string>
	<key>w.O.medi</key>
	<string>w.O_.medi.glif</string>
	<key>w.W.fina</key>
	<string>w.W_.fina.glif</string>
	<key>w.W.init</key>
	<string>w.W_.init.glif</string>
	<key>w.W.isol</key>
	<string>w.W_.isol.glif</string>
	<key>w.W.medi</key>
	<string>w.W_.medi.glif</string>
	<key>y-mon</key>
	<string>y-mon.glif</string>
	<key>y.I.fina</key>
	<string>y.I_.fina.glif</string>
	<key>y.I.init</key>
	<string>y.I_.init.glif</string>
	<key>y.I.isol</key>
	<string>y.I_.isol.glif</string>
	<key>y.I.medi</key>
	<string>y.I_.medi.glif</string>
	<key>y.II.medi</key>
	<string>y.I_I_.medi.glif</string>
	<key>y.Y.init</key>
	<string>y.Y_.init.glif</string>
	<key>y.Y.isol</key>
	<string>y.Y_.isol.glif</string>
	<key>y.Y.medi</key>
	<string>y.Y_.medi.glif</string>
	<key>z-mon</key>
	<string>z-mon.glif</string>
	<key>z.Z.fina</key>
	<string>z.Z_.fina.glif</string>
	<key>z.Z.init</key>
	<string>z.Z_.init.glif</string>
	<key>z.Z.isol</key>
	<string>z.Z_.isol.glif</string>
	<key>z.Z.medi</key>
	<string>z.Z_.medi.glif</string>
	<key>zr-mon</key>
	<string>zr-mon.glif</string>
	<key>zr.Zr.fina</key>
	<string>zr.Z_r.fina.glif</string>
	<key>zr.Zr.init</key>
	<string>zr.Z_r.init.glif</string>
	<key>zr.Zr.isol</key>
	<string>zr.Z_r.isol.glif</string>
	<key>zr.Zr.medi</key>
	<string>zr.Z_r.medi.glif</string>
	<key>zwj</key>
	<string>zwj.glif</string>
	<key>zwj.effe</key>
	<string>zwj.effe.glif</string>
	<key>zwnj</key>
	<string>zwnj.glif</string>
	<key>zwnj.effe</key>
	<string>zwnj.effe.glif</string>
</dict>
</plist>
